<?xml version="1.0" encoding='UTF-8' standalone="no" ?>

<!DOCTYPE  config [

    <!-- Replace 127.0.0.1 with your sensor Ip -->
    <!ENTITY   sensor     "127.0.0.1" > 

    <!-- Default network interface -->
    <!ENTITY    interface  "eth0" >

    <!-- Default OSSIM database connection (db:host:dbname:user:pass) -->
    <!ENTITY    ossim_db   "mysql:localhost:ossim:root:yourossimdbpass" >

    <!-- Replace localhost with your server Ip -->
    <!ENTITY    serverip   "localhost" > 

    <!-- Log directory -->
    <!ENTITY    logdir     "/var/log/ossim" > 

    <!-- plugins -->
    <!ENTITY    apache      SYSTEM '/etc/ossim/agent/plugins/apache.xml'>
    <!ENTITY    arpwatch    SYSTEM '/etc/ossim/agent/plugins/arpwatch.xml'>
    <!ENTITY    ca          SYSTEM '/etc/ossim/agent/plugins/ca.xml'>
    <!ENTITY    camonitor   SYSTEM '/etc/ossim/agent/plugins/camonitor.xml'>
    <!ENTITY    ciscoids    SYSTEM '/etc/ossim/agent/plugins/ciscoids.xml'>
    <!ENTITY    ciscopix    SYSTEM '/etc/ossim/agent/plugins/ciscopix.xml'>
    <!ENTITY    ciscorouter SYSTEM '/etc/ossim/agent/plugins/ciscorouter.xml'>
    <!ENTITY    fw1         SYSTEM '/etc/ossim/agent/plugins/fw1.xml'>
    <!ENTITY    iis         SYSTEM '/etc/ossim/agent/plugins/iis.xml'>
    <!ENTITY    iptables    SYSTEM '/etc/ossim/agent/plugins/iptables.xml'>
    <!ENTITY    netgear     SYSTEM '/etc/ossim/agent/plugins/netgear.xml'>
    <!ENTITY    ntop        SYSTEM '/etc/ossim/agent/plugins/ntop.xml'>
    <!ENTITY    ntsyslog    SYSTEM '/etc/ossim/agent/plugins/ntsyslog.xml'>
    <!ENTITY    opennms     SYSTEM '/etc/ossim/agent/plugins/opennms.xml'>
    <!ENTITY    osiris      SYSTEM '/etc/ossim/agent/plugins/osiris.xml'>
    <!ENTITY    p0f         SYSTEM '/etc/ossim/agent/plugins/p0f.xml'>
    <!ENTITY    pads        SYSTEM '/etc/ossim/agent/plugins/pads.xml'>
    <!ENTITY    prelude     SYSTEM '/etc/ossim/agent/plugins/prelude.xml'>
    <!ENTITY    realsecure  SYSTEM '/etc/ossim/agent/plugins/realsecure.xml'>
    <!ENTITY    rrd         SYSTEM '/etc/ossim/agent/plugins/rrd.xml'>
    <!ENTITY    snarewindows SYSTEM '/etc/ossim/agent/plugins/snarewindows.xml'>
    <!ENTITY    snort       SYSTEM '/etc/ossim/agent/plugins/snort.xml'>
    <!ENTITY    syslog      SYSTEM '/etc/ossim/agent/plugins/syslog.xml'>
    <!ENTITY    tcptrack    SYSTEM '/etc/ossim/agent/plugins/tcptrack.xml'>
]>


<config>

    <!--
        NOTES: 
        
        Atribute process of each plugin is the name of the running
        process (needed in order to obtain pid, kill it, etc...)
        and it's needed if you want to start/stop the process asociated 
        with the plugin.
    -->


    <!-- Ip and port number where the ossim server is listening -->
    <serverip>&serverip;</serverip>
    <serverport>40001</serverport>
    <watchdog enable="yes" interval="30"/>
    <logdir>&logdir;</logdir>

    <plugins>
    
<!-- &apache; -->
&arpwatch;
&ca;
&camonitor;
<!-- &ciscoids; -->
<!-- &ciscopix; -->
<!-- >&ciscorouter; -->
<!-- &fw1; -->
<!-- &iis; -->
<!-- &iptables; -->
<!-- &netgear; -->
&ntop;
<!-- &ntsyslog; -->
<!-- &opennms; -->
<!-- &osiris; -->
&p0f;
&pads;
<!-- &prelude; -->
<!-- &realsecure; -->
&rrd;
<!-- &snarewindows; -->
&snort;
&syslog;
<!-- &tcptrack; -->

    </plugins>
</config>

