/* OSSIM style sheet for NTOP Oct 2007 */
/* Based on Luca Deri September 1st, 2000 */

body
{
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
/*	background: #fff url("/white_bg.gif") repeat-x;*/
}

th
{
    color: #11334f;
    font-family: arial,helvetica,sans-serif;
    background: #abb7c7;
    border-color: #7f7f7f;
    border-width: 1px;
    font-size: 8pt;
    text-align: center;
}


table { 
}

span.leftmenuitem
{
	font-size: 8pt;
	font-weight: bold;
}

td
{
    color:black;
    font-family: arial,helvetica,sans-serif;
    border-bottom-style: solid;
    border-color: #7f7f7f;
    border-color: #cbcbcb;
    border-width: 1pt;
    font-size:  8pt;
}

.wrap { 
white-space: normal;
}

address 
{
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
}

h5 {
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
}

form
{
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
}

h1
{
	text-decoration:underline;
	font-family: arial,helvetica,sans-serif;
	text-align: center;
	font-size: 8pt;
	font-weight: bold
}

h2
{
	font-family: arial,helvetica,sans-serif;
	font-size: 11pt;
	font-weight: bold
}

A:link
{
	color: #223399;
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
	text-decoration: none
}

A:visited
{
	color: white;
	font-weight: bold;
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
	text-decoration: none
}

A:hover
{
	background: transparent;
  	color: #e7700c;
  	text-decoration: underline;
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
}

A:link.nav
{
	color: #000000;
	font-family: arial,helvetica,sans-serif;
}

A:visited.nav
{
	color: #000000;
	font-family: arial,helvetica,sans-serif;
}

A:hover.nav
{	
	color: red;
	font-family: arial,helvetica,sans-serif;
}

.nav
{
color: #000000;
	font-family: arial,helvetica,sans-serif;
}

A.age0min { color:#FF0000 }
A.age5min { color:#FF00FF }
A.age15min { color:#FF7F00 }
A.age30min { color:#007FFF }
A.age60min { color:#0000FF }

/* For the color code table */
A:visited.age0min { color:#FF0000 }
A:visited.age5min { color:#FF00FF }
A:visited.age15min { color:#FF7F00 }
A:visited.age30min { color:#007FFF }
A:visited.age60min { color:#0000FF }

