#################################################
# Base dir
#################################################

base_dir=/opt/ossim
ossim_log=/var/log/auth.log
ossim_interface=eth0

#################################################
# OSSIM db configuration
#################################################

ossim_base=ossim
ossim_user=ossimuser
ossim_pass=
ossim_host=localhost
ossim_port=3306


#################################################
# SNORT db configuration 
# (look at snort.conf)
#################################################

snort_base=snort
snort_user=snortuser
snort_pass=
snort_host=localhost
snort_port=3306


#################################################
# Paths to other applications
#################################################

snort_path=/etc/snort/
snort_rules_path=/etc/snort/rules/
adodb_path=/usr/share/adodb/
rrdtool_path=/usr/local/rrdtool-1.1.0/bin/
rrdtool_lib_path=/usr/local/rrdtool-1.1.0/lib/perl/
nmap_path=/usr/local/bin/nmap
p0f_path=/usr/local/bin/p0f
arpwatch_path=/usr/sbin/arpwatch
mrtg_path=/usr/bin/

# look at mrtg.cfg and mrtg-rrd.cfg
mrtg_rrd_files_path=/opt/ossim/www/mrtg/


#################################################
# Links to other applications
#################################################

acid_link=http://localhost/acidlab/
ntop_link=http://localhost:3000
ntop_link_ext=http://external_host:3000
opennms_link=http://localhost:8080/opennms/
mrtg_link=http://localhost/ossim-beta/mrtg-html/
graph_link=http://localhost/cgi-bin/draw_graph.pl
stats_link=http://external_host/
mailstats_link=http://mailstats_server/

#################################################
# Misc Paths
#################################################

rrdpath_host=/opt/ossim/www/mrtg/host_qualification/
rrdpath_net=/opt/ossim/www/mrtg/net_qualification/
rrdpath_global=/opt/ossim/www/mrtg/global_qualification/
rrdpath_ntop=/usr/local/var/ntop/rrd/
arial_path=/opt/fonts/arial.ttf
out_path=/opt/ossim/www/mrtg-html/tmp/
out_web_path=/ossim/mrtg-html/tmp/

