<?xml version="1.0"?>

<config>

    <!-- Ip and port number where the ossim server is listening -->
    <serverip>127.0.0.1</serverip>
    <serverport>40001</serverport>

    <plugins>

        <!-- 
             snort & spade detector
             location must point to a fast format log 
             enable snort fast loggin adding this line to the snort.conf:
               output alert_fast: fast.log 
        -->
        <plugin id="1001" name="snort" type="detector" enable="yes">
            <path>/usr/bin/snort</path>
            <source>fast</source>
            <interface>eth0</interface>
            <sensor>127.0.0.1</sensor>
            <location>/var/log/snort/fast.log</location>
        </plugin>

        <!-- FireWall-1 detector -->
        <plugin id="1504" name="fw-1" type="detector" enable="yes">
            <path></path>
            <source>syslog</source>
            <interface>eth0</interface>
            <sensor>127.0.0.1</sensor>
            <location>/var/log/messages</location>
        </plugin>
        
        <!-- 
             Apache detector 
             location must point to an apache access log
             (for example: /var/log/apache/access.log)
        -->
        <plugin id="1501" name="apache" type="detector" enable="no">
            <path></path>
            <source>syslog</source>
            <interface>eth0</interface>
            <sensor>127.0.0.1</sensor>
            <location>/var/log/apache/access.log</location>
        </plugin>

        <!-- IIS detector -->
        <plugin id="1502" name="iis" type="detector" enable="yes">
            <path></path>
            <source>syslog</source>
            <interface>eth0</interface>
            <sensor>127.0.0.1</sensor>
            <location>/var/log/messages</location>
        </plugin>

        <!-- iptables detector -->
        <plugin id="1503" name="iptables" type="detector" enable="yes">
            <path></path>
            <source>syslog</source>
            <interface>eth0</interface>
            <sensor>127.0.0.1</sensor>
            <location>/var/log/messages</location>
        </plugin>


        <!-- 
             ntop monitor 
             location must point to the ip and port where ntop is listening
             (for example: 127.0.0.1:3000)
             frequency: if server make a request, get ntop info every N seconds
        -->
        <plugin id="2005" name="ntop" type="monitor" enable="yes">
            <path></path>
            <source>socket</source>
            <location>127.0.0.1:3000</location>
            <interface>eth0</interface>
            <sensor>127.0.0.1</sensor>
            <frequency>20</frequency>
        </plugin>

    </plugins>
</config>

