body {
  background: white;
  color: black;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size:  8pt;
  margin: 1px;
  padding: 1px;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

a {
  background: transparent;
  color: #17457c;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background: transparent;
  color: #991e1e;
  text-decoration: underline;
  font-weight: bold;
}

a.selected {
  color: #991e1e;
}


h1 {
  background: #f5f5f5;
  color: black;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}

table {
    color: black;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 1px;
    text-align: center;
}

th {
    color:black;
    background: #f1f1f1;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 1px;
    font-size: 10pt;
    text-align: center;
}

td {
    color:black;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    font-size:  8pt;
    text-align: center;
}

td.left {
    color:black;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 1px;
    font-size:  8pt;
    text-align: left;
}


/* Subtitle header. */
h2 {
  font-weight: bold;
  clear: both;
  font-size: 110%;
  text-align: center;
}

/* Another subtitle using another font-size then the subtitle. */
h3 {
  font-weight: bold;
  clear: both;
  font-size: 105%;
}


p {
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}


input, textarea, select {
    border: solid;
    border-style: solid;
    border-width: 1px;
    color: #222;
    border-color: #888;
    background: #fdfdfd;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size:  8pt;
}

input.disabled {
    color: #999;
}

hr {
    color: #e0e0e0;
    background-color: #fff;
    height: 1px;
    border-style: solid;
}
