body {
  background: white;
  color: black;
  font-family: tahoma,arial,verdana,helvetica,sans-serif;
  font-size: 8pt;
  padding: 1px;
  margin:3px 8px 3px 8px;
}

a {
  background: transparent;
  color: #17457c;
  text-decoration: none;
}

a:hover {
  background: transparent;
  color: #888888;
  text-decoration: underline;
}

a.selected {
    color: #e7700c;
    background: transparent;
    text-decoration: underline;
}

/*
h1 {
  background: #7f7f7f;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}*/
h1 { margin-bottom: 15px; padding:5px; border: 1px solid #038D16; background: #cccccc url(../pixmaps/theme/ui-bg_highlight-soft_75_4DC903_1x100.png) 50% 50% repeat-x; font-size: 12px; color: #FFFFFF; font-weight: bold; text-align: center; }

table {
    background: #fafafa;
    color: black;
    border-style: solid;
    border-color: #bbbbbb;
    border-width: 1px;
    text-align: center;
}

.noborder {
    border-width: 0px;
}
.ajaxgreen {
	border-width: 0px;
	background: #DEEBDB;
}

/*
th {
    color: #11334f;
    background: #abb7c7;
    border-color: #7f7f7f;
    border-width: 1px;
    font-size: 8pt;
    text-align: center;
}
*/
th { word-wrap:nowrap; padding:0px 10px 0px 10px; border: 1px solid #aaaaaa; background: #cccccc url(../pixmaps/theme/ui-bg_highlight-soft_75_cccccc_1x300.png) 50% 50% repeat-x; font-size: 11px; color: #222222; font-weight: bold; text-align: center; }

/* same colors than <th> */
.selected {
    color: #11334f;
/*    background: #cbcbcb;*/
    background: #abb7c7;
    border-color: #7f7f7f;
    border-width: 1px;
}


td {
    color:black;
    border-bottom-style: solid;
    border-color: #7f7f7f;
    border-color: #cbcbcb;
    border-width: 1px;
    font-size:  8pt;
    text-align: center;
}

td.left {
    padding-left: 5px;
    text-align: left;
}
td.center {
    text-align: center;
}

.small {
	font-size: 10px;
	border-width: 0px;
	text-align: left;
	background: transparent;
}

.grayed {
	color:#eeeeee; text-decoration:underline;
	font-style:italic;
}
.gristab {
	font-family:arial; color:#000000; font-weight:normal; font-size:12px;
}
.gristabon {
	font-family:arial;  color:#000000; font-weight:bold; font-size:12px;
}
a.gristab:hover, a.gristabon:hover {
	text-decoration:none;
}

.nobborder {
	border-width: 0px;
	text-align: left;
	background: transparent;
}
.center {
	border-width: 0px;
	text-align: center;
}
.left {
    padding-left: 5px;
    text-align: left;
}
.right {
    padding-right: 5px;
    text-align: right;
}

/* Subtitle header. */
h2 {
  font-weight: bold;
  clear: both;
  font-size: 110%;
  text-align: center;
}

/* Another subtitle using another font-size then the subtitle. */
h3 {
  font-weight: bold;
  clear: both;
  font-size: 105%;
}


p {
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}


input, textarea, select {
    border: solid;
    border-style: solid;
    border-width: 1px;
    color: #222;
    border-color: #888;
    background: #fdfdfd;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size:  8pt;
}

.btn
{
   background: #cccccc url(../pixmaps/theme/bg_button.png) 50% 50% repeat-x; font-size: 10px; color: #222222; text-align: center;
}
input.btn:hover
{
   border:1px solid #02A705;
   background: #4AC600 url(../pixmaps/theme/bg_button_on.png) 50% 50% repeat-x; color: #FFFFFF;
}

.btnoff
{
   background: #cccccc url(../pixmaps/theme/bg_button.png) 50% 50% repeat-x; font-size: 10px; color: #AAAAAA; text-align: center;
}

/* --- border radius --- */
h1 {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

table {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

th {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input, textarea {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
/* --- border radius --- */


input.disabled {
    color: #999;
}

.required {
	font-size: 5pt;
	/* color: red; */
	cursor: help;
}

hr {
    color: #e0e0e0;
    background-color: #fff;
    height: 1px;
    border-style: solid;
}

label {
	border-bottom-width: thin;
	border-bottom-style: dashed;
	cursor: help;
}

/* Incident tickets related styles */

td.ticket {
    border-width: 0px;
    background: #EEEEEE;
    text-align: left;
    border-top-style: solid;
    border-top-color: #7f7f7f;
    border-top-width: 0px;
}

td.ticket_body {
    text-align: left;
    
}

p.ticket_body {
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.help {
  border-width: 3px;
  border-style: dotted;
  border-color: rgb(221, 158, 6);
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  background-color: rgb(236, 234, 171);
}

.bgred { background:#FFCFCF }
.bggreen { background:#D2FFCF }
/* Style for the popup calendar (see ../js/mattkruse/CalendarPopup.js) */

.CALENDARcpYearNavigation,
.CALENDARcpMonthNavigation
		{
		background-color:#abb7c7;
		text-align:center;
		vertical-align:middle;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.CALENDARcpDayColumnHeader,
.CALENDARcpYearNavigation,
.CALENDARcpMonthNavigation,
.CALENDARcpCurrentMonthDate,
.CALENDARcpCurrentMonthDateDisabled,
.CALENDARcpOtherMonthDate,
.CALENDARcpOtherMonthDateDisabled,
.CALENDARcpCurrentDate,
.CALENDARcpCurrentDateDisabled,
.CALENDARcpTodayText,
.CALENDARcpTodayTextDisabled,
.CALENDARcpText
		{
		font-family:arial;
		font-size:8pt;
		}
TD.CALENDARcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #abb7c7;
		border-width:0 0 1 0;
		}
.CALENDARcpCurrentMonthDate,
.CALENDARcpOtherMonthDate,
.CALENDARcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		}
.CALENDARcpCurrentMonthDateDisabled,
.CALENDARcpOtherMonthDateDisabled,
.CALENDARcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.CALENDARcpCurrentMonthDate
		{
		color:black;
		font-weight:bold;
		}
.CALENDARcpCurrentDate
		{
		color: #FFFFFF;
		font-weight:bold;
		}
.CALENDARcpOtherMonthDate
		{
		color:#808080;
		}
TD.CALENDARcpCurrentDate
		{
		color:#FFFFFF;
		background-color: #abb7c7;
		border-width:1;
		border:solid thin red;
		}
TD.CALENDARcpCurrentDateDisabled
		{
		border-width:1;
		border:solid thin #FFAAAA;
		}
TD.CALENDARcpTodayText,
TD.CALENDARcpTodayTextDisabled
		{
		border:solid thin #abb7c7;
		border-width:1 0 0 0;
		}
A.CALENDARcpTodayText,
SPAN.CALENDARcpTodayTextDisabled
		{
		height:20px;
		}
A.CALENDARcpTodayText
		{
		color:#abb7c7;
		font-weight:bold;
		}
SPAN.CALENDARcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.CALENDARcpBorder
		{
		border:solid thin grey;
		}

		
/* tooltips */
div.balloon span { display: none }
div.balloon:hover { position:relative; z-index:1000; background:transparent; }
div.balloon:hover span.tooltip {
  color: #111;
  display:block;
  position:absolute;
  top:12px; left:20px;
  width:164px;
  text-align: left;
  text-decoration:none;
  z-index: 2000;
}
div.balloon:hover span.top {
  display: block;
  padding: 28px 8px 0;
  background: url(../pixmaps/balloon.png) no-repeat top;
}
div.balloon:hover span.middle {
  display: block;
  padding: 0 8px 0 15px; 
  background: url(../pixmaps/balloonfill.png) repeat bottom; 
}
div.balloon:hover span.bottom {
  display: block;
  padding:3px 8px 8px;
  color: #548912;
  background: url(../pixmaps/balloon.png) no-repeat bottom;
}
