<?xml version='1.0' encoding='UTF-8' ?>

<config>
        <sensor name="192.168.1.175"/>
	<log filename="/tmp/ossim.log"/>
	<datasources>
		<datasource name="ossimDS" provider="MySQL" dsn="PORT=3306;DATABASE=ossim;HOST=localhost"/>
		<datasource name="snortDS" provider="MySQL" dsn="PORT=3306;DATABASE=snort;HOST=localhost"/>
	</datasources>
	<directive filename="directives.xml"/>
	<scheduler interval="15"/>
	<server port="40001"/>
</config>
