Source: ossim
Section: net
Priority: optional
Maintainer: David Gil <dgil@ossim.net>
Build-Depends: debhelper (>= 5.0.37.2), docbook-to-man, libglib2.0-dev (>= 2.4.6), libgda2-dev (>= 1.0.4), libgnet-dev (>= 2.0.4), zlib1g-dev, automake, python-all-dev, python-support, gettext, dpatch
Standards-Version: 3.7.2

Package: ossim
Architecture: all
Depends: ossim-agent, ossim-framework (= ${Source-Version}), ossim-framework-daemon (= ${Source-Version}), ossim-server (= ${Source-Version}), ossim-mysql (= ${Source-Version}), ossim-contrib (= ${Source-Version})
Description: Open Source Security Information Management (Meta-package)

Package: ossim-mysql
Architecture: all
Depends: ${misc:Depends}, mysql-server | virtual-mysql-server
Suggests: ossim-contrib
Description: Open Source Security Information Management (MySQL)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and 
 qualification in one single tool.
 .
 This package contains the MySQL tables needed to fill the Ossim database.
 .
 Homepage: http://www.ossim.net

Package: ossim-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gda2-mysql | gda2-postgres, lsb-base (>= 3.0-6)
Suggests: ossim-contrib
Description: Open Source Security Information Management (Server)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and 
 qualification in one single tool.
 .
 This package contains the correlation engine server of OSSIM.
 .
 Homepage: http://www.ossim.net 
 
Package: ossim-framework
Architecture: all
Depends: ${misc:Depends}, ossim-framework-daemon (= ${Source-Version}), php4 (>= 4.3.4), libphp-adodb (>= 4.21), php4-mysql (>= 4.3.4), php4-gd (>= 4.3.4), libphp-phplot (>= 4.4.6), php4-domxml (>= 4.3.4), php4-xslt (>= 4.3.4), rrdtool (>= 1.1.0), librrdp-perl (>= 1.1.0), librrds-perl (>= 1.1.0), nmap, php-fpdf (>= 1.52), libphp-jpgraph (>= 1.5.2), acidbase, phpgacl (>= 3.3.4), php-xajax, ttf-bitstream-vera, ossim-utils (= ${Source-Version}), lsb-base (>= 3.0-6)
Suggests: ossim-contrib, nessus, nessus-plugins
Description: Open Source Security Information Management (Framework)
 OSSIM Framework

Package: ossim-framework-daemon
Architecture: all
Depends: ${python:Depends}, python-adodb, python-mysqldb | python-pgsql, python-rrd, python-pycurl, ossim-framework (= ${Source-Version})
Conflicts: ossim-framework (<< 0.9.8-14)
Description: Open Source Security Information Management (Framework Daemon)
 Ossim Framework Daemon

Package: ossim-agent
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Suggests: ossim-utils, ossim-contrib, python-mysqldb, snort, apache, p0f, arpwatch, ntop, tcptrack, pads, nessusd, nagios-mysql, nagios-plugins, nagios-statd-client
Description: Open Source Security Information Management (Agent)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and 
 qualification in one single tool.
 .
 An agent in OSSIM is set of python script that gathers and sends the
 output of the different plugin or tool to the correlation engine for
 further process.
 .
 Homepage: http://www.ossim.net

Package: ossim-utils
Architecture: all
Depends: ${misc:Depends}, perl (>= 5.8.4), libcompress-zlib-perl, libdbi-perl, libdbd-mysql-perl, librrds-perl (>= 1.1.0)
Suggests: ossim-contrib
Description: Open Source Security Information Management (Utils)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and 
 qualification in one single tool.
 .
 Homepage: http://www.ossim.net

Package: ossim-contrib
Architecture: all
Description: Open Source Security Information Management (Contrib)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and 
 qualification in one single tool.
 .
 This package contains a set of patches, examples and configuration
 files used by the ossim distribution. This package is only useful
 for development purposes.
 .
 Homepage: http://www.ossim.net

