#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_COMPAT=4

include /usr/share/dpatch/dpatch.make

TMP=`pwd`/debian
#LANGUAGES=`ls locale | grep -v CVS`
LANGUAGES=de en es fr ja

configure: configure-stamp
configure-stamp:
	dh_testdir

#	for patch in contrib/patches/*.patch; do \
#		patch -p0 < $$patch ; \
#	done

	ln -sf /usr/share/misc/config.sub .
	ln -sf /usr/share/misc/config.guess .
	rm -f config.cache

	# Add here commands to configure the package.
	./autogen.sh \
		--prefix=/usr \
		--localstatedir=/var \
		--sysconfdir=/etc \
		--mandir=/usr/share/man
	touch configure-stamp


build: build-stamp

build-stamp: patch configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)

	for lang in $(LANGUAGES); do \
		/usr/bin/msgfmt -v -o locale/$$lang/LC_MESSAGES/ossim.mo locale/$$lang/LC_MESSAGES/ossim.po; \
	done
	
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	rm -rf $(TMP)/ossim-framework $(TMP)/ossim-utils $(TMP)/ossim-agent $(TMP)/ossim-server $(TMP)/tmp
	find $(TMP)/ossim-framework/usr/share/ossim/ | grep CVS | xargs rm -rf
	find $(TMP)/ossim-framework/usr/share/ossim/ | grep Makefile | xargs rm -rf

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the packages.

	# ossim-mysql
	install -m644 db/*.sql $(TMP)/ossim-mysql/usr/share/doc/ossim-mysql/contrib/
	install -m644 contrib/snort/*.sql $(TMP)/ossim-mysql/usr/share/doc/ossim-mysql/contrib/
	install -m644 contrib/acid/*.sql $(TMP)/ossim-mysql/usr/share/doc/ossim-mysql/contrib/

	# ossim-agent
	cd agent ; \
	python setup.py install --prefix=$(CURDIR)/debian/ossim-agent/usr/ ; \
	cd -
	install -m644 etc/agent/config.xml $(TMP)/ossim-agent/etc/ossim/agent/config.xml
	cp etc/agent/plugins/*.xml $(TMP)/ossim-agent/etc/ossim/agent/plugins/
	install -m644 etc/logrotate.d/ossim-agent $(TMP)/ossim-agent/etc/logrotate.d/

	## ossim-server
	cd src/ && $(MAKE) install DESTDIR=$(CURDIR)/debian/ossim-server
	cd etc/server && $(MAKE) install DESTDIR=$(CURDIR)/debian/ossim-server
	docbook-to-man doc/ossim-server.xml > debian/ossim-server.8
	cp etc/logrotate.d/ossim-server debian/ossim-server.logrotate
	install -d $(CURDIR)/debian/ossim-server/var/log/ossim/

	# ossim-framework
	cp -r include/ www/ $(TMP)/ossim-framework/usr/share/ossim/
	rm -rf $(TMP)/ossim-framework/usr/share/ossim/www/mrtg
	cp etc/httpd/ossim.conf \
		$(TMP)/ossim-framework/etc/ossim/framework/apache.conf

	docbook-to-man doc/ossim-framework.xml > debian/ossim-framework.8

	# get cron.d files from etc/ and rename into debian/
	# (let's dh_installcron do the job)
	cp etc/cron.daily/ossim-backup debian/ossim-framework.cron.daily
	# cp etc/cron.d/ossim-framework debian/ossim-framework.cron.d ### deprecated!

	# with .pl extension, the script is not exec via cron.. 
	# rename to acid-backup
	install -m755 etc/cron.daily/acid-backup $(TMP)/ossim-framework/etc/cron.daily/acid-backup

	install -m644 etc/logrotate.d/ossim-framework $(TMP)/ossim-framework/etc/logrotate.d/

	for lang in $(LANGUAGES); do \
		install -d $(TMP)/ossim-framework/usr/share/locale/$$lang/LC_MESSAGES/ ; \
		install -m 0644 locale/$$lang/LC_MESSAGES/ossim.?o $(TMP)/ossim-framework/usr/share/locale/$$lang/LC_MESSAGES/ ; \
	done

	# ossim-framework-daemon
	cd frameworkd ; \
	python setup.py install \
		--prefix=$(CURDIR)/debian/ossim-framework-daemon/usr/ ; \
	cd -


	# ossim-utils
	install -m755 include/ossim_conf.pm $(TMP)/ossim-utils/usr/lib/perl5/
	install -m755 scripts/*.pl $(TMP)/ossim-utils/usr/share/ossim/scripts/
	install -m644 etc/framework/ossim.conf $(TMP)/ossim-utils/etc/ossim/framework/

	# ossim-contrib
	cp -r contrib $(TMP)/ossim-contrib/usr/share/doc/ossim-contrib/


# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs -possim \
		-possim-agent \
		-possim-framework \
		-possim-server \
		-possim-mysql \
		-possim-contrib \
		-possim-utils -i ChangeLog
	dh_installdocs 	-possim             -i $(TMP)/INSTALL.html
	dh_installdocs 	-possim-agent       -i $(TMP)/INSTALL.html
	dh_installdocs 	-possim-framework   -i $(TMP)/INSTALL.html $(TMP)/README.locales `pwd`/README.phpgacl `pwd`/README.oinkmaster `pwd`/README.nessus
	dh_installdocs 	-possim-mysql		-i $(TMP)/INSTALL.html
	dh_installdocs 	-possim-utils       -i $(TMP)/INSTALL.html
	dh_installdocs 	-possim-contrib     -i $(TMP)/INSTALL.html
	dh_installdocs 	-possim-server      -i $(TMP)/INSTALL.html
	dh_installexamples
#	dh_install
#	dh_installmenu
	dh_installdebconf	
	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit --no-restart-on-upgrade --no-start
	dh_installinit --name=ossim-framework --no-restart-on-upgrade --no-start
	dh_installcron
#	dh_installinfo
	dh_installman debian/ossim-server.8 debian/ossim-framework.8
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
