  - interface: <iface_name>
    threads: <threads_num>
    cluster-id: <cluster_id>
    cluster-type: <cluster_type>
    defrag: <defrag>
    # use-mmap: <use_mmap>
    # ring-size: <ring_size>
    # use-emergency-flush: <use_emergency_flush>
    # buffer-size: <buffer_size>
    # disable-promisc: <disable_promisc>
    # checksum-checks: <checksum_checks>
    # bpf-filter: <bpf_filter>
    # copy-mode: <copy_mode>
    # copy-iface: <copy_iface>
