cuda:
  mpm:
    batching-timeout: 1
    cuda-streams: 2
    device-id: 0
    packet-buffer-limit: 2400
    packet-buffers: 10
    packet-size-limit: 1500
    page-locked: enabled
    # data-buffer-size-min-limit: 0
    # data-buffer-size-max-limit: 1500
    # cudabuffer-buffer-size: 500mb
    # gpu-transfer-size: 50mb
    
